<!DOCTYPE html>
<html>
<body>

<h1>RICHARD'S CAKE</h1>

<form action="/confirmation" method="get" id="nameform">
   <p>I HOPE YOU LIKED SHOPPING WITH US </p>
   <p>SEE YOU SOON </p>
</form>

<button type="submit" form="nameform" value="OK">YES</button>
<button type="submit" form="nameform" value="OK">NO</button>

</body>
</html>
