<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menuStyle.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--to add css style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" 
    integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <!--to add bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" 
    integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">

 </head>
 <body>
    <section class="header">
      <nav>
            <a href="/home"><img src="/css/logo.jpg" class="logo"alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <!--to add cross closing icon-->
                <i class="bi bi-x" onclick="hideMenu()"></i>
                <ul>
                    {{# if name}}
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/aboutUs">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/cart">CART</a></li>
                    {{ else }}
                    <li><a href="/registration">NEW REGISTER</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/aboutUs">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                  {{/if}}
                </ul>
            </div>
            <i class="bi bi-list" onclick="showMenu()"></i>
        </nav>
        <div class="heading">
          <h3>Richard's Wine And Rum Cakes </h3>  
        </div>      
     </section>
     <section class="categories">
            <h2 class="head">We serve the following three categories.</h2>
            <p class="para">Please select your choice to view the cakes available in corresponding flavour-</p>
        <div class="box-container">
            <button type="button" onclick="wineFunc()">
            <div class="box">
                <img class="image" src="/css/wine.jpeg" alt="">
                <div class="content">
                    <h3>Wine Cake</h3>
                    <p>Assorted fruits dipped in authentic wine are added to cake, to give the final flavour.</p>
                </div>
            </div>
            </button>
            <button type="button" onclick="plainFunc()">
            <div class="box">
                <img class="image" src="/css/plain1.jpeg" alt="">
                <div class="content">
                    <h3>Plain Cake</h3>
                    <p>
                        Working our magic to provide you with some soft and spongy cakes with 0% alcohol.
                    </p>
                </div>
            </div>
            </button>
            <button type="button" onclick="rumFunc()">
            <div class="box">
                <img class="image" src="/css/rum.jpg" alt="">
                <div class="content">
                    <h3>Rum Cake</h3>
                    <p>Assorted fruits dipped in clear rum are then added to cake, to give the final flavour.</p>
                </div>
            </div>
            </button>
        </div>
     </section>
<script>
        //Javascript for toggle menu
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right="0";
        }
        function hideMenu(){
            navLinks.style.right="-200px";
        }
        function wineFunc(){
            location.href="/wineCake";
        }
        function rumFunc(){
            location.href="/rumCake";
        }
        function plainFunc(){
            location.href="/plainCake";
        }
    </script>
 </body>   
 
