*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
  }
  
  body
  {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;	
    padding:10px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(BgForgotPassword1.jpeg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }
  
  .container
  {
      max-width: 1000px;
      max-height:500px;
      height:100%;
      width:100%;
      background:white;
      padding:15px 15px;
      border-radius:10px;
      opacity:75%;
      /*background-image:url("Bg1.jpg");*/
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      
     
  }

  .container-otp
  {
      max-width: 800px;
      max-height:400px;
      height:100%;
      width:100%;
      background:white;
      padding:15px 15px;
      border-radius:10px;
      opacity:75%;
      /*background-image:url("Bg1.jpg");*/
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      
     
  }
  
  .container .title
  {
      font-size:35px;
      font-weight:700;
      font-family: 'Poppins', sans-serif;
      position: relative;
      
      
  }
  
   .container .title::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:670px;	
      background:linear-gradient(135deg, brown, purple);
  }

  .container .title-otp::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:670px;	
      background:linear-gradient(135deg, brown, purple);
  }
  
  .container .heading
  {
      font-size:25px;
      font-weight:700;
      font-family: 'Poppins', sans-serif;
      position: relative;
      align-items:center;
  }
  
  .container .heading::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:400px;	
      background:linear-gradient(135deg, brown,purple);
  }

  .container .heading-otp::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:100%;	
      background:linear-gradient(135deg, brown,purple);
  }
  
  .container .input-box
  {
      display:block;
      flex-wrap:wrap;
      justify-content:space-between;
      align-items:center;
  }
  
 .input-box
  {
    margin:6px 0px 12px 0px;
    width: calc(100%/2 -20px);
    padding:20px;
    margin-bottom:10px;
    font-style:italic;																																																												
  }
  
  .container .input-box .details 
  {
    height:36px;
    width:100%;
    margin: 6px;
    border-radius:8px;
    outline:none;
    border:1px solid #ccc;
    padding: 5px;
    font-size:20px;
    border-bottom-width:3px;   
    margin-bottom:5px; 
    color:white;   
    background:linear-gradient(135deg, #9932CC,brown);
  } 
   
  form .user-details .input-box .input-lbl
  {
    height:35px;
    width:50%;
    margin: 6px;
    padding-left: 15px;
    font-size:16px;
    font-weight: 400;
  }
   form .user-details .input-box input
  {
    height:35px;
    width:50%;
    margin: 6px;
    border-radius:7px;
    outline:none;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size:16px;
    border-bottom-width:3px;
     
  }
  form .user-details .input-box input:hover
  {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
  
  .container .input-box input:focus,
  .container .input-box input:valid
  {
      border-color:brown;
  }
  
   form .button
  {
      height:45px;
     /* margin:56px 0;*/
  }
  
  form .button input
  {
      height:100%;	
      width :100%;
      outline:none;
      color:#fff;
      border:none;
      font-size:25px;
      background:linear-gradient(135deg, purple, brown);
      border-radius:100px;
      font-weight:500;
      letter-spacing:5px;
      
  }
  
  form .button input:hover
  {
      background:linear-gradient(-135deg, purple,brown);
  }
  
  .button-otp
  {
      height:45px;
      margin:56px 0;
  }
  form .button-otp input
  {
      height:100%;	
      width :100%;
      outline:none;
      color:#fff;
      border:none;
      font-size:25px;
      background:linear-gradient(135deg, purple, brown);
      border-radius:100px;
      font-weight:500;
      letter-spacing:5px;
      
  } 
  
  form .button-otp input:hover
  {
      background:linear-gradient(-135deg, purple,brown);
  }
  
   
.forgotpassword{
    color: blue;
    float: left;
    align-self: baseline;
    font-size: 17px;
    
}
.login{
    margin: 20px;
    cursor: default;
}
.login.button{
    color:red;
}
@media (max-width:700px)
 {
    body{
        padding: 0%;
    }
	.container{
		width: 95%;
		height: 90%;
        max-height: fit-content;
	}
    .container .title{
        font-size: 32px;
    }
	.container .title::before{
		width: 100%;
	}
    .container .heading{
        padding: 5px;
        font-size: 18px;
    }
    .container .heading::before{
        width: 75%;
    }
 
    .container .input-box .details, input 
  {
    font-size: 18px;
  }
  form .user-details .input-box input{
    width:80%;
  } 
  .container .input-box{
    padding: 2px;
  } 
  .container .user-details{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .container .input-box .details{
    margin-right: 150px;
  }
  form .button input{
    font-size: 22px;
    height:80%;	
      width :80%;
      text-align: center;
      
  }
  .login{
    margin: 5px;
  }

 }