*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
  }
  
  body
  {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;	
    padding:10px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Bg1.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }
  
  .container
  {
      max-width: 800px;
      max-height:400px;
      height:100%;
      width:100%;
      background:white;
      padding:15px 15px;
      border-radius:10px;
      opacity:75%;
      /*background-image:url("Bg1.jpg");*/
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      
     
  }

  .container-otp
  {
      max-width: 800px;
      max-height:400px;
      height:100%;
      width:100%;
      background:white;
      padding:15px 15px;
      border-radius:10px;
      opacity:75%;
      /*background-image:url("Bg1.jpg");*/
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      
     
  }
  
  .container .title
  {
      font-size:35px;
      font-weight:700;
      font-family: 'Poppins', sans-serif;
      position: relative;
      
  }
  
   .container .title::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:670px;	
      background:linear-gradient(135deg, brown, purple);
  }

  .container .title-otp::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:670px;	
      background:linear-gradient(135deg, brown, purple);
  }
  
  .container .heading
  {
      font-size:25px;
      font-weight:700;
      font-family: 'Poppins', sans-serif;
      position: relative;
      align-items:center;
  }
  
  .container .heading::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:318px;	
      background:linear-gradient(135deg, brown,purple);
  }

  .container .heading-otp::before
  {
      content: '';
      position:absolute;
      left:0;
      bottom:0;
      height:2px;
      width:100%;	
      background:linear-gradient(135deg, brown,purple);
  }
  
  .container .input-box
  {
      display:block;
      flex-wrap:wrap;
      justify-content:space-between;
      align-items:center;
  }
  
 .input-box
  {
    margin:6px 0px 12px 0px;
    width: calc(100%/2 -20px);
    padding:8px;
    margin-bottom:10px;
    font-style:italic;																																																												
  }
  
  .container .input-box .details 
  {
    height:36px;
    width:100%;
    margin: 6px;
    border-radius:8px;
    outline:none;
    border:1px solid #ccc;
    padding: 5px;
    font-size:20px;
    border-bottom-width:3px;   
    margin-bottom:5px; 
    color:white;   
    background:linear-gradient(135deg, #9932CC,brown);
  } 
   
  form .user-details .input-box .input-lbl
  {
    height:35px;
    width:50%;
    margin: 6px;
    padding-left: 15px;
    font-size:16px;
    font-weight: 400;
  }
   form .user-details .input-box input
  {
    height:35px;
    width:50%;
    margin: 6px;
    border-radius:7px;
    outline:none;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size:16px;
    border-bottom-width:3px;
     
  }
  form .user-details .input-box input:hover
  {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
  
  .container .input-box input:focus,
  .container .input-box input:valid
  {
      border-color:brown;
  }
  
   form .button
  {
      height:45px;
      margin:56px 0;
  }
  
  form .button input
  {
      height:100%;	
      width :100%;
      outline:none;
      color:#fff;
      border:none;
      font-size:25px;
      background:linear-gradient(135deg, purple, brown);
      border-radius:100px;
      font-weight:500;
      letter-spacing:5px;
      
  }
  
  form .button input:hover
  {
      background:linear-gradient(-135deg, purple,brown);
  }
  
  .button-otp
  {
      height:45px;
      margin:56px 0;
  }
  form .button-otp input
  {
      height:100%;	
      width :100%;
      outline:none;
      color:#fff;
      border:none;
      font-size:25px;
      background:linear-gradient(135deg, purple, brown);
      border-radius:100px;
      font-weight:500;
      letter-spacing:5px;
      
  } 
  
  form .button-otp input:hover
  {
      background:linear-gradient(-135deg, purple,brown);
  }
  
   
.forgotpassword{
    color: blue;
    float: left;
    align-self: baseline;
    font-size: 17px;
    
}

nav{
    display:flex;
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #a52a2a;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
@media (max-width:700px)
 {
    body{
        padding: 0%;
    }
	.container{
		width: 95%;
		height: 80%;
        max-height: fit-content;
	}
	.container .title::before{
		width: 100%;
	}
 
 
  form .user-details .input-box
  {
	 margin-bottom:10px;
	 width:100%;
  }

 }