*{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
    
}
.logo{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

/*Header section*/
.header{
    /*min-height: 100vh;*/
    min-height:190px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(blueberry.jpeg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #a52a2a;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.heading{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading h3{
    font-size: 250%;
    font-weight: 600;
}
nav .bi{
    display: none;
}


/* categories section*/
.categories{
    background-color:#fff3f3
}
.head{
    padding-left: 1rem;
    font-size: 2.5rem;
    padding-top: 2rem;
    color:#70002a;
    font-weight: 500;
    
}
.para{
    padding-left: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.categories .box-container{
    padding-top: 1rem;
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}
.categories .box-container .button{
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    
}
.categories .box-container .box{
    flex: 1 ;
    /*padding: 1.5rem;*/
    overflow: hidden;
    width: 300px;
    height: 280px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(baker3.jpg) ;
    background-position: center;
    background-size: cover;*/
    position: relative;
    
}
.categories .box-container .box .image{
    height: 100%;
    width:100%;
    object-fit: fill;
    position: absolute;
    top: -100%;
    left: 0;
    transition: 1s;
}
.categories .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 3rem;
}
.categories .box-container .box .content h3{
    font-size: 2rem;
    color: #70002a;
    font-family: 'Pacifico', cursive;
}
.categories .box-container .box .content p{
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}
.categories .box-container .box:hover .image{
    top: 0;

}
.categories .box-container .box:hover .content{
    transform: translateY(100%);
}
@media(max-width: 700px){

    .header h3{
        font-size: 30px;
        padding-top: 50px;
        
    }
    .nav-links ul li{
        display: block;
    }
    nav .logo{
        height: 40px;
        width: 40px;
    }
    .nav-links{
        position: absolute;
        background: #3a1313;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .categories{
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 1px;
    }
    .categories .head{
        font-size: 25px;
        font-weight: 400;
    }
    .categories .para{
        font-size: 16px;
    }
    .categories .box-container{
        padding-left: 4.5rem;
    }


/* .social{
    margin-left: 28;
} */

}